* {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1614705827065-62c3dc488f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-size: cover;
    background-position: center;
 
    
}
/*The styling for the win button */
#win {
    animation: textgrowth 1s infinite alternate;
    -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: white;
 }
 /* The animation for the win screen */
 @keyframes textgrowth {
     0% {
     font-size: 40px;
     }
     100% {
     font-size: 55px;
     }
 }